.move-list {
  max-height: 150px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 85px;
  margin-right: 1530px;
}

.navigate-buttons{
  display: flex;
  margin-right: 1590px;
  margin-left: 83px;
  padding: 2px 0px 1px 20px;
  margin-top: -300px;
  margin-bottom: 10px;
}

.first-page,
.navigate-before,
.navigate-next,
.last-page {
  background-color: rgb(201, 40, 40);
  padding: 2px 0px 1px 5px;
  margin-right: 8px;
}

.move-list::-webkit-scrollbar {
  display: none;
}

.move-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.row {
  width: 250px;
  display: flex;
  color: white
}

.move-number {
  width: 35px;
}

.current-move {
  color: rgb(134, 87, 87);
  width: 35px;
}

.move {
  cursor: pointer;
  width: 80px;
}

.move:hover {
  color: rgb(167, 96, 96);
  opacity: 0.7
}

.move-number,
.current-move,
.move{
  padding-left: 40px;
  padding-top: 7px;
  padding-bottom: 2px;
}
